<div>
  <div class="time-radios">
    <div class="time-radios--title">
      Messzeitraum <% if(index === 0){%><a
        href="https://wiski-html-h2eptfuxza-ew.a.run.app/wasser?stationid=<%=station.station_id%>"
        class="maximize-link"
        ><img
          src="images/maximize.svg"
          alt="maximize"
          class="maximize-image float-right"
          title="Diagramm in neuem Browser Tab öffnen" /></a
      ><%} %>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-pt24h-<%= graph.ts_id %>"
        value="PT24H"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
        checked
      />
      <label class="form-check-label" for="radio-pt24h-<%= graph.ts_id %>"
        >24 Std.</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-pt48h-<%= graph.ts_id %>"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
        value="PT48H"
      />
      <label class="form-check-label" for="radio-pt48h-<%= graph.ts_id %>"
        >48 Std.</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p7d-<%= graph.ts_id %>"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
        value="P7D"
      />
      <label class="form-check-label" for="radio-p7d-<%= graph.ts_id %>"
        >1 Woche</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p1m-<%= graph.ts_id %>"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
        value="P1M"
      />
      <label class="form-check-label" for="radio-p1m-<%= graph.ts_id %>"
        >1 Monat</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p1y-<%= graph.ts_id %>"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
        value="P1Y"
      />
      <label class="form-check-label" for="radio-p1y-<%= graph.ts_id %>"
        >1 Jahr</label
      >
      <div class="wait-<%= graph.ts_id %>">
        Please wait...
        <div
          class="spinner-border spinner-border-sm text-primary"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <section class="graph-description">
    <div><strong>Station:</strong> <%= station.station_name %></div>
    <div id="messzeitraum-<%=graph.ts_id %>"></div>
  </section>
  <canvas
    id="graph-container-<%= graph.ts_id %>"
    data-tsid="<%= graph.ts_id %>"
    data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
    data-unitnames="<%= JSON.stringify(unit_names) %>"
    class="graph-container"
    width="500"
    height="300"
  ></canvas>
</div>
<hr />
