<div>
  <div class="time-radios">
    <div class="time-radios--title">Messzeitraum</div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-pt24h-<%= graph.ts_id %>"
        value="PT24H"
        checked
      />
      <label class="form-check-label" for="radio-pt24h-<%= graph.ts_id %>"
        >24 Std.</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-pt48h-<%= graph.ts_id %>"
        value="PT48H"
      />
      <label class="form-check-label" for="radio-pt48h-<%= graph.ts_id %>"
        >48 Std.</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p7d-<%= graph.ts_id %>"
        value="P7D"
      />
      <label class="form-check-label" for="radio-p7d-<%= graph.ts_id %>"
        >1 Woche</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p1m-<%= graph.ts_id %>"
        value="P1M"
      />
      <label class="form-check-label" for="radio-p1m-<%= graph.ts_id %>"
        >1 Monat</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-p1y-<%= graph.ts_id %>"
        value="P1Y"
      />
      <label class="form-check-label" for="radio-p1y-<%= graph.ts_id %>"
        >1 Jahr</label
      >
    </div>
  </div>
  <img
    id="graph-<%= graph.ts_id %>"
    src="<%= station.kiwis_host %><%= station.graph_url %>&ts_id=<%=
    graph.ts_id %>&width=500&height=250&period=PT24H"
    class="img-fluid graph-image"
  />
  <canvas
    id="graph-container-<%= graph.ts_id %>"
    data-tsid="<%= graph.ts_id %>"
    data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>"
    class="graph-container"
    width="500"
    height="300"
  ></canvas>
</div>
<hr />
