<div>
  <div class="measurement__parametertitle">
    <%= graph.stationparameter_name.toUpperCase() %> <br />
    <span class="station-name"><%= station.station_name %></span>
  </div>
  <div class="time-radios">
    <div class="time-radios--title">
      Messzeitraum <span id="messzeitraum-<%=graph.ts_id %>"></span>
    </div>
    <% for(key in measure_periods) {%> 
      <% let checked = key === "pt24h" ? "checked" : "" %>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input graph-time-radio"
        type="radio"
        name="time-options-<%= graph.ts_id %>"
        id="radio-<%= key %>-<%= graph.ts_id %>"
        value="<%= key %>"
        data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>&format=dajson" <%= checked %>
      />
      <label class="form-check-label" for="radio-<%= key %>-<%= graph.ts_id %>"
        ><%= measure_periods[key] %></label
      >
      <% if(key === "p1y"){ %>
      <div class="wait-<%= graph.ts_id %>">
        Please wait...
        <div
          class="spinner-border spinner-border-sm text-primary"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <%}%>
    </div>
    <%}%>
  </div>
  <canvas
    id="graph-container-<%= graph.ts_id %>"
    data-tsid="<%= graph.ts_id %>"
    data-diagramdataurl="<%= station.kiwis_host %><%=station.diagram_data %>&format=dajson"
    data-unitnames="<%= JSON.stringify(unit_names) %>"
    class="graph-container"
    width="500"
    height="300"
  ></canvas>
</div>
<hr />
