<div class="infoelement" style="border-bottom: none;">
  <div class="infoelement__key"><%= key %></div>
  <div class="infoelement__value">
    <%if(Number.isInteger(parseInt(station.stationNumber))){%>
    <a
      href="<%= station.station_website_host %><%=station.stationNumber%>.html"
      target="blank"
      rel="noreferrer noopener"
      ><%= station.station_website_host %><%=station.stationNumber%>.html</a
    >
    <%} else {%> <span>Keine Website verfügbar</span> <%}%>
  </div>
</div>
