<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid info-container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left text-decoration-none"
              type="button"
              data-toggle="collapse"
              data-target="#station-info"
              aria-expanded="true"
              aria-controls="station-info"
            >
              <img
                src="images/info.svg"
                class="accordion-image"
                alt="info"
              />&nbsp; Station Info
            </button>
          </h2>
        </div>

        <div
          id="station-info"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <%const messbeginn = new
          Date(station.station_diary_status.substring(0,10)).toLocaleDateString("de-CH")
          %>
          <div class="card-body card-body-nospace">
            <%-include('../partials/station-status',{online:station.ONLINE_PUBLICATION});%>
            <%-include('../partials/station-info-element',{key:"Name",value:station.station_name});%>
            <%-include('../partials/station-info-element',{key:"Fachgebiet",value:station.object_type});%>
            <%-include('../partials/station-info-element',{key:"Messparameter",value:measure_params});
            %>
            <%-include('../partials/station-info-element',{key:"Datenherr",value:station.DATAOWNER});
            %>
            <%-include('../partials/station-info-element',{key:"Stationshöhe",value:`${station.station_elevation}
            m.ü.Meer`}); %>
            <%-include('../partials/station-info-element',{key:"Gewässer",value:station.WTO_OBJECT
            || "Unbekannt"}); %>
            <%-include('../partials/station-info-element',{key:"Standort",value:station.site_name});
            %>
            <%-include('../partials/station-info-element',{key:"Einzugsgebiet",value:station.CATCHMENT_SIZE.substring(8)
            || "Unbekannt"}); %>
            <%-include('../partials/station-info-element',{key:`Koordinaten
            (LV95)`,value:`${parseInt(station.station_local_x).toLocaleString("de-CH")}
            / ${parseInt(station.station_local_y).toLocaleString("de-CH")}`});
            %>
            <%-include('../partials/station-info-element',{key:"Messbeginn",value:`${messbeginn}
            | ${station.station_status}`}); %>
            <%-include('../partials/station-link',{key:"Stationswebsite",
            station}); %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed text-decoration-none"
              type="button"
              data-toggle="collapse"
              data-target="#messdaten-aktuell"
              aria-expanded="false"
              aria-controls="messdaten-aktuell"
            >
              <img
                src="images/rss.svg"
                class="accordion-image"
                alt="rss"
              />&nbsp; Aktuelle Messdaten
            </button>
          </h2>
        </div>
        <div
          id="messdaten-aktuell"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <%-
            include('../partials/latest_measurement',{measurements:station.latest_measurements,
            unit_names}) %>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed text-decoration-none"
              type="button"
              data-toggle="collapse"
              data-target="#diagramme"
              aria-expanded="false"
              aria-controls="diagramme"
            >
              <img
                src="images/bar-chart.svg"
                class="accordion-image"
                alt="bar-chart"
              />
              Diagramme
            </button>
          </h2>
        </div>
        <div
          id="diagramme"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <%if(time_series.length === 0){%>
            <h6>Es sind keine Diagramme verfügbar.&nbsp;🤔</h6>
            <%} if(time_series.length > 0){time_series.forEach((graph,index) =>
            { %>
            <%-include('../partials/graph',{graph,station,index,service_host,measure_periods});%>
            <% }) }%>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed text-decoration-none"
              type="button"
              data-toggle="collapse"
              data-target="#dokumente"
              aria-expanded="false"
              aria-controls="dokumente"
            >
              <img
                src="images/documents.svg"
                class="accordion-image"
                alt="bar-chart"
              />
              Dokumente
            </button>
          </h2>
        </div>
        <div
          id="dokumente"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <h6>Es sind keine Dokumente verfügbar.&nbsp;🤔</h6>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed text-decoration-none"
              type="button"
              data-toggle="collapse"
              data-target="#bilder"
              aria-expanded="false"
              aria-controls="bilder"
            >
              <img
                src="images/images.svg"
                class="accordion-image"
                alt="bar-chart"
              />
              Bilder
            </button>
          </h2>
        </div>
        <div
          id="bilder"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <h6>Es sind keine Bilder verfügbar.&nbsp;🤔</h6>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
      integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="javascript/frontend/main.js"></script>
    <script
      async
      defer
      src="javascript/frontend/chartjs-plugin-downsample.js"
    ></script>
  </body>
</html>
